.hd0 {
  display: none;
}

.hd1 {
  display: inline;
  fill: #7B574A;
}

.hd2 {
  display: inline;
  fill: #3F2723;
}

.hd3 {
  display: inline;
}

.hd4 {
  fill: #3F2723;
}

.hd5 {
  fill: #7B574A;
}

.hd6 {
  fill: #5F4138;
}

.hd7 {
  fill: none;
  stroke: #327D3D;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.hd8 {
  fill: none;
  stroke: #4EAF4C;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.hd9 {
  fill: #317D3D;
}

.hd10 {
  fill: #4CAF4E;
}

.hd11 {
  fill: #A6D2A7;
}

.hd12 {
  fill: #C9E3C8;
}
